<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            h1{
                background-color: lightgray;
            }
            
        </style>

        <body>

            <div class="container">
                <div class="row">
                    <div class="col text-center">
                    <h1 class="display-1">Mission to Mars</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a href="http://127.0.0.1:5000/scrape"><button type="button" class="btn btn-primary" >Scrape New Data</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                    <h2>Latest Mars News</h2>
                    </div>
                </div>
                <div class="row"> 
                     <div class="col col-md-12">
                        <h4>{{ data.news_title }}</h4>
                        <p>{{ data.news_p }}</p>
                   </div> 
                </div>
               
                <br> 

                <div class="row">
                    <div class="col-md-8">
                        <h2>Featured Mars Image</h2>
                        <img scr="{{ data.featured_image_url }}" alt="Current Featured Mars Image">

                    </div>
                    <div class="col-md-4">
                        <h3>Mars Facts</h3>
                        {{ data.html_table_mars | safe}}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <h2>Mars Hemispheres</h2>
                    </div>

                    <div>
                            {% for image in data.hemisphere_image_urls %} 
                            <div class="col-6 border">
                            </br>
                                    <div>
                                    <img width="200 px" height="200 px" src="{{ image.image_url }}">
                                    </div>
                
                                    <div>
                                    <h4> {{ image.title }} </h4>  
                                    </div>
                            
                            </div>
                            {% endfor %}
                    </div>   
                </div> 
            </div>
        </body>
    
    </head>
</html>
























